.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6, p, text{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.floatAbovePage{
  position: absolute;
  right: 0px;
  left: 0px;
  top: 20%;
  bottom: 20%;
}
#SignInBox{
  background-color: white;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 15px black;
  border-radius: 0.5em;
}
#SignInBox > div:first-child > Button{
  margin-left: 0.5em;
  margin-right: 0.5em;
}